@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




/*
  background-color: #0072ce;
  48b3e1
  3973b1*/

  .main-cont{
    display: grid;
    place-items: center;
  }

  .login-cont{
    background-color:#0072ce ;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 5px; 
  }

  .form-container h1{
    font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  margin: 0 auto;
  }

  .login-cont img{
    background-color: white;
    border-radius: 5px;
    width: ;
  }