@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.try {
  flex-wrap: wrap;
}

.reim-item h3 {
  font-weight: 800;
}

.low-menu {
  display: flex;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  font-size: .7em;
  gap: 4px;
  margin-bottom: 2em;
}


.app-container {
  display: flex;
  width: 100%;
}

.content-cont {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  min-height: 100vh;
  background-color: #0072ce;
  position: sticky;
  top: 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.spinner {
  display: grid;
  height: 100vh;
  place-items: center;
}

.company-nav {
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 5px;
  margin-bottom: 2em;
}

.company-nav img {
  width: 150px;
  padding: 10px;

}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-item a,
.userprof {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 300;
  font-size: .8em;
}

.userprof {
  display: flex;
  justify-content: left;
  gap: 5px;
  word-wrap: break-word;
  border-top: 1px solid white;
  padding: .5em .3em;
  margin-top: 8em;
  font-size: .7em;
}

.userprof img {
  width: 30px;
}

.username {
  font-weight: 400;
}

.menu-item svg {
  width: 20px;
  height: 20px;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2em;
  border-radius: 8px;
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: #0072ce;
  color: white;
}

.formcont .inputform {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.formcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formcont button {
  cursor: pointer;
  background-color: white;
  padding: .5em;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}


.reim-container {
  display: flex;
  flex-direction: column;
}

.reims {
  display: flex;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  padding: 1em 1em 0em;
  /* Set a high z-index to ensure it's always on top of other content */
}


.hamburger svg {
  color: white;
}

@media (max-width: 1040px) {
  .hamburger {
    display: flex;
    position: absolute;
    /* Show the hamburger when screen width is below 1040px */
  }



  .hamburger.active {

    position: relative;
  }



  .nav-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
    background-color: #0072ce;
  }

  .app-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .content-cont {
    max-width: 100%;
    background-color: #f5f5f5;
    padding: 0;
  }




}

/* Additional styles for hamburger icon when active */