@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  min-height: 100vh;
  background-color: #0072ce;
}

.menu-container,
.low-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}



.company-nav {
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 5px;
  margin-bottom: 2em;
}

.company-nav img {
  width: 150px;
  padding: 10px;

}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-item a,
.userprof {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 300;
  font-size: .8em;
}

.userprof {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-top: 1px solid white;
  padding: .3em;
  margin-top: 8em;
}

.username {
  font-weight: 400;
}

.menu-item svg {
  width: 20px;
  height: 20px;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}